body {
  background-color: white;
  font-family: sans-serif;
  color: black;
    background-size:100% 100%;
}

div.wrapper h1 {
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

h2 {
    font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.entry {
    background: white;
    border: 5px solid green;
    padding: 20px;
    margin: 20px;
    position: relative;
}

.entry > img {
    height: 100%;
    width: 100%;
}

.entry .author {
    padding:10px;
    background: green;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: white;
}

span > a {
    font-size: 50px;
    font-family: monospace;
}
span > a > img {
    width: 100px;
    margin-left: 20px;
    padding:10px;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav button {
    background: none;
    cursor: pointer;
    border: 0;
    font-size: 1em;
    font-family: sans-serif;
}

.site-form {
    border: 5px solid green;
    padding: 20px;
}

.site-form input, .site-form textarea, .site-form label {
    display: block;
    margin: 20px 0 0 0;
    padding: 10px;
}

a.blog-post {
    border: 2px solid green;
    padding: 10px;
    color: green;
}

.errorlist li {
    color: red;
}

a.sign-up {
    border: 2px solid green;
    padding: 10px;
    color: green;
}
